@CHARSET "ISO-8859-1";
.quebx-icon-pencil,.quebx-icon-pointer,.quebx-icon-cloud,.quebx-icon-cloud-ul,.quebx-icon-cloud-dl,.quebx-icon-search,.quebx-icon-trashcan,.quebx-icon-droplet,.quebx-icon-eye,.quebx-icon-target,.quebx-icon-switch,.quebx-icon-location,.quebx-icon-close,.quebx-icon-checkmark,.quebx-icon-munis,.quebx-icon-plus,.quebx-icon-close2,.quebx-icon-divide,.quebx-icon-minus,.quebx-icon-plus2,.quebx-icon-equals,.quebx-icon-cancel,.quebx-icon-minus2,.quebx-icon-checkmark2,.quebx-icon-equals2,.quebx-icon-mobile,.quebx-icon-tablet,.quebx-icon-phone,.quebx-icon-bars,.quebx-icon-stack,.quebx-icon-battery,.quebx-icon-battery2,.quebx-icon-battery3,.quebx-icon-calculator,.quebx-icon-bolt,.quebx-icon-list,.quebx-icon-grid,.quebx-icon-list2,.quebx-icon-list3,.quebx-icon-layout,.quebx-icon-equalizer,.quebx-icon-equalizer2,.quebx-icon-cog,.quebx-icon-window,.quebx-icon-window2,.quebx-icon-window3,.quebx-icon-locked,.quebx-icon-unlocked,.quebx-icon-shield,.quebx-icon-cart,.quebx-icon-suitcase,.quebx-icon-airplane,.quebx-icon-file-download,.quebx-icon-file-upload,.quebx-icon-bars2,.quebx-icon-chart,.quebx-icon-stats,.quebx-icon-arrow-right,.quebx-icon-arrow-left,.quebx-icon-arrow-down,.quebx-icon-arrow-up,.quebx-icon-arrow-right2,.quebx-icon-arrow-left2,.quebx-icon-arrow-up2,.quebx-icon-arrow-down2,.quebx-icon-arrow-down-left,.quebx-icon-arrow-down-right,.quebx-icon-arrow-up-left,.quebx-icon-arrow-up-right,.quebx-icon-arrow-left3,.quebx-icon-arrow-right3,.quebx-icon-arrow-down3,.quebx-icon-arrow-up3,.quebx-icon-move,.quebx-icon-movie,.quebx-icon-refresh,.quebx-icon-picture,.quebx-icon-music,.quebx-icon-camera,.quebx-icon-film,.quebx-icon-tablet2,.quebx-icon-ipod,.quebx-icon-mouse,.quebx-icon-monitor,.quebx-icon-star,.quebx-icon-envelope,.quebx-icon-comment,.quebx-icon-user,.quebx-icon-download,.quebx-icon-upload,.quebx-icon-checked,.quebx-icon-circles,.quebx-icon-pencil2,.quebx-icon-flag,.quebx-icon-link,.quebx-icon-stop,.quebx-icon-play,.quebx-icon-pause,.quebx-icon-next,.quebx-icon-previous,.quebx-icon-drink,.quebx-icon-mug,.quebx-icon-clock,.quebx-icon-calendar,.quebx-icon-compass,.quebx-icon-tie,.quebx-icon-home,.quebx-icon-capslock,.quebx-icon-intersection,.quebx-icon-image,.quebx-icon-bell,.quebx-icon-triangle,.quebx-icon-compass2,.quebx-icon-diamond,.quebx-icon-checkmark3,.quebx-icon-uniF470,.quebx-icon-uniF471,.quebx-icon-uniF472,.quebx-icon-uniF473,.quebx-icon-uniF474,.quebx-icon-uniF475,.quebx-icon-uniF476,.quebx-icon-uniF477,.quebx-icon-uniF478,.quebx-icon-uniF479,.quebx-icon-uniF47A,.quebx-icon-uniF47B,.quebx-icon-uniF47C,.quebx-icon-uniF47D,.quebx-icon-uniF47E,.quebx-icon-uniF47F,.quebx-icon-uniF480,.quebx-icon-uniF482,.quebx-icon-uniF484,.quebx-icon-uniF485,.quebx-icon-uniF486,.quebx-icon-uniF487,.quebx-icon-uniF488,.quebx-icon-uniF489,.quebx-icon-uniF48A,.quebx-icon-uniF48B,.quebx-icon-cannon,.quebx-icon-route,.quebx-icon-gameboy,.quebx-icon-speed,.quebx-icon-desklamp,.quebx-icon-danger,.quebx-icon-searchdocument,.quebx-icon-pictureframe,.quebx-icon-firefox,.quebx-icon-teapot,.quebx-icon-apple,.quebx-icon-aperture,.quebx-icon-cherry,.quebx-icon-mushroom,.quebx-icon-bottle,.quebx-icon-muffin,.quebx-icon-globe,.quebx-icon-eightball,.quebx-icon-speaker,.quebx-icon-watch,.quebx-icon-snowman,.quebx-icon-favoritefile,.quebx-icon-handpointdown,.quebx-icon-handpointright,.quebx-icon-handpointleft,.quebx-icon-raceflag,.quebx-icon-doghouse,.quebx-icon-addtocart,.quebx-icon-emptycart,.quebx-icon-lastfm,.quebx-icon-taxi,.quebx-icon-alienware,.quebx-icon-visa,.quebx-icon-circleleft,.quebx-icon-circledown,.quebx-icon-circleup,.quebx-icon-circleright,.quebx-icon-tea,.quebx-icon-chef,.quebx-icon-foodtray,.quebx-icon-bat,.quebx-icon-addfriend,.quebx-icon-removefriend,.quebx-icon-resistor,.quebx-icon-scales,.quebx-icon-uniF000,.quebx-icon-uniF00B,.quebx-icon-uniF00C,.quebx-icon-uniF00D,.quebx-icon-uniF013,.quebx-icon-uniF014,.quebx-icon-uptime,.quebx-icon-value,.quebx-icon-domain2,.quebx-icon-affiliate,.quebx-icon-intel,.quebx-icon-link2,.quebx-icon-email,.quebx-icon-security2,.quebx-icon-barchart,.quebx-icon-uni0430,.quebx-icon-price,.quebx-icon-websitebuilder,.quebx-icon-shoppingcart,.quebx-icon-greenhosting,.quebx-icon-spam2,.quebx-icon-emailforward2,.quebx-icon-authentication,.quebx-icon-error2,.quebx-icon-wrench,.quebx-icon-phpbb,.quebx-icon-html5,.quebx-icon-css3,.quebx-icon-joomla,.quebx-icon-wordpress,.quebx-icon-drupal,.quebx-icon-codeigniter,.quebx-icon-refresh2,.quebx-icon-push,.quebx-icon-pull,.quebx-icon-query,.quebx-icon-sc,.quebx-icon-mailinglists,.quebx-icon-emailtrace,.quebx-icon-fourohfour,.quebx-icon-images,.quebx-icon-rawaccesslogs,.quebx-icon-document,.quebx-icon-presentation,.quebx-icon-search2,.quebx-icon-paste,.quebx-icon-trash,.quebx-icon-trashfull,.quebx-icon-circleadd,.quebx-icon-circledelete,.quebx-icon-circleselect,.quebx-icon-handpointup,.quebx-icon-handdrag,.quebx-icon-handtwofingers,.quebx-icon-diskspace2,.quebx-icon-volumefull,.quebx-icon-volumehalf,.quebx-icon-volumemute,.quebx-icon-volumemute2,.quebx-icon-iphone,.quebx-icon-nexus,.quebx-icon-mobile2,.quebx-icon-powerplug,.quebx-icon-imac,.quebx-icon-wifi,.quebx-icon-list4,.quebx-icon-download2,.quebx-icon-upload2,.quebx-icon-power,.quebx-icon-loading,.quebx-icon-comment2,.quebx-icon-comment22,.quebx-icon-post,.quebx-icon-loved,.quebx-icon-user2,.quebx-icon-friends,.quebx-icon-thumbup,.quebx-icon-thumbdown,.quebx-icon-favorite,.quebx-icon-favorite2,.quebx-icon-happy,.quebx-icon-sad,.quebx-icon-facebook,.quebx-icon-skype,.quebx-icon-youtube,.quebx-icon-phone2,.quebx-icon-phone3,.quebx-icon-dribbble,.quebx-icon-chrome,.quebx-icon-yahoo,.quebx-icon-delicious,.quebx-icon-reddit,.quebx-icon-phone4,.quebx-icon-missedcall,.quebx-icon-incomingcall,.quebx-icon-outgoingcall,.quebx-icon-googleplus,.quebx-icon-linkedin,.quebx-icon-blogger,.quebx-icon-vimeo,.quebx-icon-path,.quebx-icon-twitter,.quebx-icon-share,.quebx-icon-evernote,.quebx-icon-play2,.quebx-icon-fastforward,.quebx-icon-rewind,.quebx-icon-play3,.quebx-icon-stop2,.quebx-icon-pause2,.quebx-icon-voice,.quebx-icon-equalizer3,.quebx-icon-ipod2,.quebx-icon-camera2,.quebx-icon-videocamera,.quebx-icon-video3,.quebx-icon-headphones2,.quebx-icon-font,.quebx-icon-crop,.quebx-icon-insertpictureleft,.quebx-icon-bold,.quebx-icon-italic,.quebx-icon-wizard2,.quebx-icon-creativecommons,.quebx-icon-water,.quebx-icon-maps,.quebx-icon-calendar2,.quebx-icon-clock2,.quebx-icon-gasstation,.quebx-icon-umbrella,.quebx-icon-stopwatch,.quebx-icon-gpsoff,.quebx-icon-gpson,.quebx-icon-checkin,.quebx-icon-clock22,.quebx-icon-watertap,.quebx-icon-airplane2,.quebx-icon-shipping,.quebx-icon-piggybank,.quebx-icon-dollar2,.quebx-icon-euro2,.quebx-icon-pound2,.quebx-icon-yen2,.quebx-icon-briefcase2,.quebx-icon-law,.quebx-icon-paypal,.quebx-icon-skrill,.quebx-icon-alertpay,.quebx-icon-westernunion,.quebx-icon-moneybag,.quebx-icon-cash,.quebx-icon-flaskfull,.quebx-icon-paperclip,.quebx-icon-paperclip2,.quebx-icon-paperclip3,.quebx-icon-megaphone,.quebx-icon-student,.quebx-icon-fence,.quebx-icon-lamp,.quebx-icon-plaque,.quebx-icon-controllerps,.quebx-icon-trophy,.quebx-icon-starempty,.quebx-icon-starhalf,.quebx-icon-starfull,.quebx-icon-lifeempty,.quebx-icon-lifehalf,.quebx-icon-lifefull,.quebx-icon-warmedal,.quebx-icon-medal,.quebx-icon-medalgold,.quebx-icon-medalsilver,.quebx-icon-medalbronze,.quebx-icon-tennis,.quebx-icon-americanfootball,.quebx-icon-diamonds,.quebx-icon-settings4,.quebx-icon-settings5,.quebx-icon-info,.quebx-icon-zoomin,.quebx-icon-zoomout,.quebx-icon-quoteup,.quebx-icon-quotedown,.quebx-icon-undo,.quebx-icon-redo,.quebx-icon-lightbulb,.quebx-icon-phone5,.quebx-icon-mobile3,.quebx-icon-directions,.quebx-icon-mail,.quebx-icon-pencil3,.quebx-icon-feather,.quebx-icon-user3,.quebx-icon-target2,.quebx-icon-share2,.quebx-icon-heart,.quebx-icon-heart2,.quebx-icon-star2,.quebx-icon-star3,.quebx-icon-thumbs-up,.quebx-icon-thumbs-down,.quebx-icon-comment3,.quebx-icon-quote,.quebx-icon-search3,.quebx-icon-bell2,.quebx-icon-link3,.quebx-icon-tools,.quebx-icon-tag,.quebx-icon-new,.quebx-icon-clock3,.quebx-icon-calendar3,.quebx-icon-briefcase,.quebx-icon-brush,.quebx-icon-cone,.quebx-icon-screen,.quebx-icon-database,.quebx-icon-cart2,.quebx-icon-pie,.quebx-icon-bars3,.quebx-icon-logout,.quebx-icon-login,.quebx-icon-checkmark4,.quebx-icon-cross,.quebx-icon-minus3,.quebx-icon-plus3,.quebx-icon-cross2,.quebx-icon-erase,.quebx-icon-info2,.quebx-icon-info3,.quebx-icon-question,.quebx-icon-help,.quebx-icon-warning,.quebx-icon-shuffle,.quebx-icon-switch2,.quebx-icon-video,.quebx-icon-upload3,.quebx-icon-download3,.quebx-icon-bookmark,.quebx-icon-bookmarks,.quebx-icon-play4,.quebx-icon-pause3,.quebx-icon-record,.quebx-icon-stop3,.quebx-icon-next2,.quebx-icon-previous2,.quebx-icon-first,.quebx-icon-last,.quebx-icon-arrow-right4,.quebx-icon-cc,.quebx-icon-github,.quebx-icon-github2,.quebx-icon-flickr,.quebx-icon-flickr2,.quebx-icon-vimeo2,.quebx-icon-vimeo3,.quebx-icon-twitter2,.quebx-icon-twitter3,.quebx-icon-facebook2,.quebx-icon-facebook3,.quebx-icon-facebook4,.quebx-icon-googleplus2,.quebx-icon-googleplus3,.quebx-icon-pinterest,.quebx-icon-pinterest2,.quebx-icon-tumblr,.quebx-icon-tumblr2,.quebx-icon-linkedin2,.quebx-icon-linkedin3,.quebx-icon-dribbble2,.quebx-icon-dribbble3,.quebx-icon-lastfm2,.quebx-icon-lastfm3,.quebx-icon-instagram,.quebx-icon-dropbox,.quebx-icon-evernote2,.quebx-icon-skype2,.quebx-icon-skype3,.quebx-icon-renren,.quebx-icon-paypal2,.quebx-icon-picasa,.quebx-icon-soundcloud,.quebx-icon-behance,.quebx-icon-vk,.quebx-icon-smashing,.quebx-icon-time,.quebx-icon-cogs,.quebx-icon-github-sign,.quebx-icon-phone6,.quebx-icon-cogs2,.quebx-icon-time2,.quebx-icon-checkmark5,.quebx-icon-basket,.quebx-icon-phone7,.quebx-icon-chat,.quebx-icon-comments,.quebx-icon-download4,.quebx-icon-pen,.quebx-icon-coins,.quebx-icon-bookmark2,.quebx-icon-ticket,.quebx-icon-ticket2,.quebx-icon-ticket3,.quebx-icon-pen2,.quebx-icon-cart3,.quebx-icon-clock4,.quebx-icon-clock5,.quebx-icon-bubble,.quebx-icon-bubbles,.quebx-icon-user4,.quebx-icon-remove,.quebx-icon-eye-blocked,.quebx-icon-eye2,.quebx-icon-bookmark3,.quebx-icon-bookmarks2,.quebx-icon-cancel-circle,.quebx-icon-omega,.quebx-icon-sigma,.quebx-icon-mail2,.quebx-icon-mail3,.quebx-icon-google-plus,.quebx-icon-google-plus2,.quebx-icon-google-plus3,.quebx-icon-facebook5,.quebx-icon-facebook6,.quebx-icon-facebook7,.quebx-icon-twitter4,.quebx-icon-twitter5,.quebx-icon-twitter6,.quebx-icon-feed,.quebx-icon-feed2,.quebx-icon-feed3,.quebx-icon-youtube2,.quebx-icon-youtube3,.quebx-icon-vimeo4,.quebx-icon-vimeo22,.quebx-icon-vimeo5,.quebx-icon-flickr3,.quebx-icon-flickr4,.quebx-icon-flickr5,.quebx-icon-picassa,.quebx-icon-picassa2,.quebx-icon-dribbble4,.quebx-icon-dribbble5,.quebx-icon-dribbble6,.quebx-icon-deviantart,.quebx-icon-deviantart2,.quebx-icon-github3,.quebx-icon-github4,.quebx-icon-wordpress2,.quebx-icon-wordpress3,.quebx-icon-blogger2,.quebx-icon-blogger3,.quebx-icon-tumblr3,.quebx-icon-tumblr4,.quebx-icon-android,.quebx-icon-windows,.quebx-icon-skype4,.quebx-icon-linkedin4,.quebx-icon-lastfm4,.quebx-icon-lastfm5,.quebx-icon-stumbleupon,.quebx-icon-stumbleupon2,.quebx-icon-pinterest3,.quebx-icon-pinterest4,.quebx-icon-paypal3,.quebx-icon-paypal4,.quebx-icon-file-xml,.quebx-icon-html52,.quebx-icon-html53,.quebx-icon-css32,.quebx-icon-chrome2,.quebx-icon-firefox2,.quebx-icon-IE,.quebx-icon-opera,.quebx-icon-safari,.quebx-icon-cart4,.quebx-icon-clock6,.quebx-icon-apple2,.quebx-icon-phone8,.quebx-icon-checkmark6,.quebx-icon-cancel2,.quebx-icon-arrow-left-alt1,.quebx-icon-arrow-right-alt1,.quebx-icon-arrow-up-alt1,.quebx-icon-arrow-down-alt1,.quebx-icon-clock7 {
	display: inline-block;
	width: 32px;
	height: 32px;
	background-image: transparent url(<?php echo elgg_get_site_url(); ?>mod/quebx/graphics/icomoon_sprites.png) no-repeat left;
	background-repeat: no-repeat;
}
.quebx-icon-pencil {
	background-position: 0 0;
}
.quebx-icon-pointer {
	background-position: -64px 0;
}
.quebx-icon-cloud {
	background-position: -128px 0;
}
.quebx-icon-cloud-ul {
	background-position: -192px 0;
}
.quebx-icon-cloud-dl {
	background-position: -256px 0;
}
.quebx-icon-search {
	background-position: -320px 0;
}
.quebx-icon-trashcan {
	background-position: -384px 0;
}
.quebx-icon-droplet {
	background-position: -448px 0;
}
.quebx-icon-eye {
	background-position: -512px 0;
}
.quebx-icon-target {
	background-position: -576px 0;
}
.quebx-icon-switch {
	background-position: -640px 0;
}
.quebx-icon-location {
	background-position: -704px 0;
}
.quebx-icon-close {
	background-position: -768px 0;
}
.quebx-icon-checkmark {
	background-position: -832px 0;
}
.quebx-icon-munis {
	background-position: -896px 0;
}
.quebx-icon-plus {
	background-position: -960px 0;
}
.quebx-icon-close2 {
	background-position: 0 -64px;
	width: 34px;
	height: 34px;
}
.quebx-icon-divide {
	background-position: -64px -64px;
}
.quebx-icon-minus {
	background-position: -128px -64px;
}
.quebx-icon-plus2 {
	background-position: -192px -64px;
}
.quebx-icon-equals {
	background-position: -256px -64px;
}
.quebx-icon-cancel {
	background-position: -320px -64px;
}
.quebx-icon-minus2 {
	background-position: -384px -64px;
}
.quebx-icon-checkmark2 {
	background-position: -448px -64px;
}
.quebx-icon-equals2 {
	background-position: -512px -64px;
}
.quebx-icon-mobile {
	background-position: -576px -64px;
}
.quebx-icon-tablet {
	background-position: -640px -64px;
}
.quebx-icon-phone {
	background-position: -704px -64px;
}
.quebx-icon-bars {
	background-position: -768px -64px;
}
.quebx-icon-stack {
	background-position: -832px -64px;
}
.quebx-icon-battery {
	background-position: -896px -64px;
}
.quebx-icon-battery2 {
	background-position: -960px -64px;
}
.quebx-icon-battery3 {
	background-position: 0 -128px;
}
.quebx-icon-calculator {
	background-position: -64px -128px;
}
.quebx-icon-bolt {
	background-position: -128px -128px;
}
.quebx-icon-list {
	background-position: -192px -128px;
	width: 38px;
}
.quebx-icon-grid {
	background-position: -256px -128px;
}
.quebx-icon-list2 {
	background-position: -320px -128px;
}
.quebx-icon-list3 {
	background-position: -384px -128px;
}
.quebx-icon-layout {
	background-position: -448px -128px;
}
.quebx-icon-equalizer {
	background-position: -512px -128px;
}
.quebx-icon-equalizer2 {
	background-position: -576px -128px;
}
.quebx-icon-cog {
	background-position: -640px -128px;
}
.quebx-icon-window {
	background-position: -704px -128px;
}
.quebx-icon-window2 {
	background-position: -768px -128px;
}
.quebx-icon-window3 {
	background-position: -832px -128px;
}
.quebx-icon-locked {
	background-position: -896px -128px;
}
.quebx-icon-unlocked {
	background-position: -960px -128px;
}
.quebx-icon-shield {
	background-position: 0 -192px;
}
.quebx-icon-cart {
	background-position: -64px -192px;
}
.quebx-icon-suitcase {
	background-position: -128px -192px;
}
.quebx-icon-airplane {
	background-position: -192px -192px;
}
.quebx-icon-file-download {
	background-position: -256px -192px;
}
.quebx-icon-file-upload {
	background-position: -320px -192px;
}
.quebx-icon-bars2 {
	background-position: -384px -192px;
}
.quebx-icon-chart {
	background-position: -448px -192px;
}
.quebx-icon-stats {
	background-position: -512px -192px;
}
.quebx-icon-arrow-right {
	background-position: -576px -192px;
}
.quebx-icon-arrow-left {
	background-position: -640px -192px;
}
.quebx-icon-arrow-down {
	background-position: -704px -192px;
}
.quebx-icon-arrow-up {
	background-position: -768px -192px;
}
.quebx-icon-arrow-right2 {
	background-position: -832px -192px;
}
.quebx-icon-arrow-left2 {
	background-position: -896px -192px;
}
.quebx-icon-arrow-up2 {
	background-position: -960px -192px;
}
.quebx-icon-arrow-down2 {
	background-position: 0 -256px;
}
.quebx-icon-arrow-down-left {
	background-position: -64px -256px;
}
.quebx-icon-arrow-down-right {
	background-position: -128px -256px;
}
.quebx-icon-arrow-up-left {
	background-position: -192px -256px;
}
.quebx-icon-arrow-up-right {
	background-position: -256px -256px;
}
.quebx-icon-arrow-left3 {
	background-position: -320px -256px;
}
.quebx-icon-arrow-right3 {
	background-position: -384px -256px;
}
.quebx-icon-arrow-down3 {
	background-position: -448px -256px;
}
.quebx-icon-arrow-up3 {
	background-position: -512px -256px;
}
.quebx-icon-move {
	background-position: -576px -256px;
}
.quebx-icon-movie {
	background-position: -640px -256px;
}
.quebx-icon-refresh {
	background-position: -704px -256px;
}
.quebx-icon-picture {
	background-position: -768px -256px;
}
.quebx-icon-music {
	background-position: -832px -256px;
	height: 30px;
}
.quebx-icon-camera {
	background-position: -896px -256px;
}
.quebx-icon-film {
	background-position: -960px -256px;
}
.quebx-icon-tablet2 {
	background-position: 0 -320px;
}
.quebx-icon-ipod {
	background-position: -64px -320px;
}
.quebx-icon-mouse {
	background-position: -128px -320px;
}
.quebx-icon-monitor {
	background-position: -192px -320px;
}
.quebx-icon-star {
	background-position: -256px -320px;
	width: 34px;
	height: 34px;
}
.quebx-icon-envelope {
	background-position: -320px -320px;
}
.quebx-icon-comment {
	background-position: -384px -320px;
}
.quebx-icon-user {
	background-position: -448px -320px;
}
.quebx-icon-download {
	background-position: -512px -320px;
}
.quebx-icon-upload {
	background-position: -576px -320px;
}
.quebx-icon-checked {
	background-position: -640px -320px;
}
.quebx-icon-circles {
	background-position: -704px -320px;
}
.quebx-icon-pencil2 {
	background-position: -768px -320px;
}
.quebx-icon-flag {
	background-position: -832px -320px;
}
.quebx-icon-link {
	background-position: -896px -320px;
}
.quebx-icon-stop {
	background-position: -960px -320px;
}
.quebx-icon-play {
	background-position: 0 -384px;
}
.quebx-icon-pause {
	background-position: -64px -384px;
}
.quebx-icon-next {
	background-position: -128px -384px;
}
.quebx-icon-previous {
	background-position: -192px -384px;
}
.quebx-icon-drink {
	background-position: -256px -384px;
}
.quebx-icon-mug {
	background-position: -320px -384px;
}
.quebx-icon-clock {
	background-position: -384px -384px;
}
.quebx-icon-calendar {
	background-position: -448px -384px;
}
.quebx-icon-compass {
	background-position: -512px -384px;
}
.quebx-icon-tie {
	background-position: -576px -384px;
}
.quebx-icon-home {
	background-position: -640px -384px;
}
.quebx-icon-capslock {
	background-position: -704px -384px;
}
.quebx-icon-intersection {
	background-position: -768px -384px;
}
.quebx-icon-image {
	background-position: -832px -384px;
}
.quebx-icon-bell {
	background-position: -896px -384px;
}
.quebx-icon-triangle {
	background-position: -960px -384px;
}
.quebx-icon-compass2 {
	background-position: 0 -448px;
}
.quebx-icon-diamond {
	background-position: -64px -448px;
}
.quebx-icon-checkmark3 {
	background-position: -128px -448px;
}
.quebx-icon-uniF470 {
	background-position: -192px -448px;
}
.quebx-icon-uniF471 {
	background-position: -256px -448px;
}
.quebx-icon-uniF472 {
	background-position: -320px -448px;
}
.quebx-icon-uniF473 {
	background-position: -384px -448px;
}
.quebx-icon-uniF474 {
	background-position: -448px -448px;
}
.quebx-icon-uniF475 {
	background-position: -512px -448px;
}
.quebx-icon-uniF476 {
	background-position: -576px -448px;
}
.quebx-icon-uniF477 {
	background-position: -640px -448px;
}
.quebx-icon-uniF478 {
	background-position: -704px -448px;
}
.quebx-icon-uniF479 {
	background-position: -768px -448px;
}
.quebx-icon-uniF47A {
	background-position: -832px -448px;
}
.quebx-icon-uniF47B {
	background-position: -896px -448px;
}
.quebx-icon-uniF47C {
	background-position: -960px -448px;
}
.quebx-icon-uniF47D {
	background-position: 0 -512px;
}
.quebx-icon-uniF47E {
	background-position: -64px -512px;
}
.quebx-icon-uniF47F {
	background-position: -128px -512px;
}
.quebx-icon-uniF480 {
	background-position: -192px -512px;
}
.quebx-icon-uniF482 {
	background-position: -256px -512px;
}
.quebx-icon-uniF484 {
	background-position: -320px -512px;
}
.quebx-icon-uniF485 {
	background-position: -384px -512px;
}
.quebx-icon-uniF486 {
	background-position: -448px -512px;
}
.quebx-icon-uniF487 {
	background-position: -512px -512px;
}
.quebx-icon-uniF488 {
	background-position: -576px -512px;
}
.quebx-icon-uniF489 {
	background-position: -640px -512px;
}
.quebx-icon-uniF48A {
	background-position: -704px -512px;
}
.quebx-icon-uniF48B {
	background-position: -768px -512px;
}
.quebx-icon-cannon {
	background-position: -832px -512px;
}
.quebx-icon-route {
	background-position: -896px -512px;
}
.quebx-icon-gameboy {
	background-position: -960px -512px;
}
.quebx-icon-speed {
	background-position: 0 -576px;
}
.quebx-icon-desklamp {
	background-position: -64px -576px;
}
.quebx-icon-danger {
	background-position: -128px -576px;
}
.quebx-icon-searchdocument {
	background-position: -192px -576px;
}
.quebx-icon-pictureframe {
	background-position: -256px -576px;
}
.quebx-icon-firefox {
	background-position: -320px -576px;
}
.quebx-icon-teapot {
	background-position: -384px -576px;
}
.quebx-icon-apple {
	background-position: -448px -576px;
}
.quebx-icon-aperture {
	background-position: -512px -576px;
}
.quebx-icon-cherry {
	background-position: -576px -576px;
}
.quebx-icon-mushroom {
	background-position: -640px -576px;
	width: 33px;
}
.quebx-icon-bottle {
	background-position: -704px -576px;
}
.quebx-icon-muffin {
	background-position: -768px -576px;
}
.quebx-icon-globe {
	background-position: -832px -576px;
}
.quebx-icon-eightball {
	background-position: -896px -576px;
}
.quebx-icon-speaker {
	background-position: -960px -576px;
}
.quebx-icon-watch {
	background-position: 0 -640px;
}
.quebx-icon-snowman {
	background-position: -64px -640px;
}
.quebx-icon-favoritefile {
	background-position: -128px -640px;
}
.quebx-icon-handpointdown {
	background-position: -192px -640px;
}
.quebx-icon-handpointright {
	background-position: -256px -640px;
}
.quebx-icon-handpointleft {
	background-position: -320px -640px;
}
.quebx-icon-raceflag {
	background-position: -384px -640px;
}
.quebx-icon-doghouse {
	background-position: -448px -640px;
}
.quebx-icon-addtocart {
	background-position: -512px -640px;
}
.quebx-icon-emptycart {
	background-position: -576px -640px;
}
.quebx-icon-lastfm {
	background-position: -640px -640px;
}
.quebx-icon-taxi {
	background-position: -704px -640px;
}
.quebx-icon-alienware {
	background-position: -768px -640px;
}
.quebx-icon-visa {
	background-position: -832px -640px;
}
.quebx-icon-circleleft {
	background-position: -896px -640px;
}
.quebx-icon-circledown {
	background-position: -960px -640px;
}
.quebx-icon-circleup {
	background-position: 0 -704px;
}
.quebx-icon-circleright {
	background-position: -64px -704px;
}
.quebx-icon-tea {
	background-position: -128px -704px;
}
.quebx-icon-chef {
	background-position: -192px -704px;
}
.quebx-icon-foodtray {
	background-position: -256px -704px;
}
.quebx-icon-bat {
	background-position: -320px -704px;
}
.quebx-icon-addfriend {
	background-position: -384px -704px;
}
.quebx-icon-removefriend {
	background-position: -448px -704px;
}
.quebx-icon-resistor {
	background-position: -512px -704px;
}
.quebx-icon-scales {
	background-position: -576px -704px;
}
.quebx-icon-uniF000 {
	background-position: -640px -704px;
}
.quebx-icon-uniF00B {
	background-position: -704px -704px;
}
.quebx-icon-uniF00C {
	background-position: -768px -704px;
}
.quebx-icon-uniF00D {
	background-position: -832px -704px;
}
.quebx-icon-uniF013 {
	background-position: -896px -704px;
}
.quebx-icon-uniF014 {
	background-position: -960px -704px;
}
.quebx-icon-uptime {
	background-position: 0 -768px;
}
.quebx-icon-value {
	background-position: -64px -768px;
}
.quebx-icon-domain2 {
	background-position: -128px -768px;
}
.quebx-icon-affiliate {
	background-position: -192px -768px;
}
.quebx-icon-intel {
	background-position: -256px -768px;
}
.quebx-icon-link2 {
	background-position: -320px -768px;
}
.quebx-icon-email {
	background-position: -384px -768px;
}
.quebx-icon-security2 {
	background-position: -448px -768px;
}
.quebx-icon-barchart {
	background-position: -512px -768px;
}
.quebx-icon-uni0430 {
	background-position: -576px -768px;
}
.quebx-icon-price {
	background-position: -640px -768px;
}
.quebx-icon-websitebuilder {
	background-position: -704px -768px;
}
.quebx-icon-shoppingcart {
	background-position: -768px -768px;
}
.quebx-icon-greenhosting {
	background-position: -832px -768px;
}
.quebx-icon-spam2 {
	background-position: -896px -768px;
}
.quebx-icon-emailforward2 {
	background-position: -960px -768px;
}
.quebx-icon-authentication {
	background-position: 0 -832px;
}
.quebx-icon-error2 {
	background-position: -64px -832px;
}
.quebx-icon-wrench {
	background-position: -128px -832px;
}
.quebx-icon-phpbb {
	background-position: -192px -832px;
}
.quebx-icon-html5 {
	background-position: -256px -832px;
}
.quebx-icon-css3 {
	background-position: -320px -832px;
}
.quebx-icon-joomla {
	background-position: -384px -832px;
}
.quebx-icon-wordpress {
	background-position: -448px -832px;
}
.quebx-icon-drupal {
	background-position: -512px -832px;
}
.quebx-icon-codeigniter {
	background-position: -576px -832px;
}
.quebx-icon-refresh2 {
	background-position: -640px -832px;
}
.quebx-icon-push {
	background-position: -704px -832px;
}
.quebx-icon-pull {
	background-position: -768px -832px;
}
.quebx-icon-query {
	background-position: -832px -832px;
}
.quebx-icon-sc {
	background-position: -896px -832px;
}
.quebx-icon-mailinglists {
	background-position: -960px -832px;
}
.quebx-icon-emailtrace {
	background-position: 0 -896px;
}
.quebx-icon-fourohfour {
	background-position: -64px -896px;
}
.quebx-icon-images {
	background-position: -128px -896px;
}
.quebx-icon-rawaccesslogs {
	background-position: -192px -896px;
}
.quebx-icon-document {
	background-position: -256px -896px;
}
.quebx-icon-presentation {
	background-position: -320px -896px;
}
.quebx-icon-search2 {
	background-position: -384px -896px;
}
.quebx-icon-paste {
	background-position: -448px -896px;
}
.quebx-icon-trash {
	background-position: -512px -896px;
}
.quebx-icon-trashfull {
	background-position: -576px -896px;
}
.quebx-icon-circleadd {
	background-position: -640px -896px;
}
.quebx-icon-circledelete {
	background-position: -704px -896px;
}
.quebx-icon-circleselect {
	background-position: -768px -896px;
}
.quebx-icon-handpointup {
	background-position: -832px -896px;
}
.quebx-icon-handdrag {
	background-position: -896px -896px;
}
.quebx-icon-handtwofingers {
	background-position: -960px -896px;
}
.quebx-icon-diskspace2 {
	background-position: 0 -960px;
}
.quebx-icon-volumefull {
	background-position: -64px -960px;
}
.quebx-icon-volumehalf {
	background-position: -128px -960px;
	height: 28px;
}
.quebx-icon-volumemute {
	background-position: -192px -960px;
	height: 32px;
}
.quebx-icon-volumemute2 {
	background-position: -256px -960px;
}
.quebx-icon-iphone {
	background-position: -320px -960px;
}
.quebx-icon-nexus {
	background-position: -384px -960px;
}
.quebx-icon-mobile2 {
	background-position: -448px -960px;
}
.quebx-icon-powerplug {
	background-position: -512px -960px;
}
.quebx-icon-imac {
	background-position: -576px -960px;
}
.quebx-icon-wifi {
	background-position: -640px -960px;
}
.quebx-icon-list4 {
	background-position: -704px -960px;
}
.quebx-icon-download2 {
	background-position: -768px -960px;
}
.quebx-icon-upload2 {
	background-position: -832px -960px;
}
.quebx-icon-power {
	background-position: -896px -960px;
}
.quebx-icon-loading {
	background-position: -960px -960px;
}
.quebx-icon-comment2 {
	background-position: 0 -1024px;
}
.quebx-icon-comment22 {
	background-position: -64px -1024px;
}
.quebx-icon-post {
	background-position: -128px -1024px;
}
.quebx-icon-loved {
	background-position: -192px -1024px;
}
.quebx-icon-user2 {
	background-position: -256px -1024px;
}
.quebx-icon-friends {
	background-position: -320px -1024px;
}
.quebx-icon-thumbup {
	background-position: -384px -1024px;
}
.quebx-icon-thumbdown {
	background-position: -448px -1024px;
}
.quebx-icon-favorite {
	background-position: -512px -1024px;
}
.quebx-icon-favorite2 {
	background-position: -576px -1024px;
}
.quebx-icon-happy {
	background-position: -640px -1024px;
}
.quebx-icon-sad {
	background-position: -704px -1024px;
}
.quebx-icon-facebook {
	background-position: -768px -1024px;
}
.quebx-icon-skype {
	background-position: -832px -1024px;
}
.quebx-icon-youtube {
	background-position: -896px -1024px;
}
.quebx-icon-phone2 {
	background-position: -960px -1024px;
}
.quebx-icon-phone3 {
	background-position: 0 -1088px;
}
.quebx-icon-dribbble {
	background-position: -64px -1088px;
}
.quebx-icon-chrome {
	background-position: -128px -1088px;
}
.quebx-icon-yahoo {
	background-position: -192px -1088px;
}
.quebx-icon-delicious {
	background-position: -256px -1088px;
}
.quebx-icon-reddit {
	background-position: -320px -1088px;
}
.quebx-icon-phone4 {
	background-position: -384px -1088px;
}
.quebx-icon-missedcall {
	background-position: -448px -1088px;
}
.quebx-icon-incomingcall {
	background-position: -512px -1088px;
}
.quebx-icon-outgoingcall {
	background-position: -576px -1088px;
}
.quebx-icon-googleplus {
	background-position: -640px -1088px;
}
.quebx-icon-linkedin {
	background-position: -704px -1088px;
}
.quebx-icon-blogger {
	background-position: -768px -1088px;
}
.quebx-icon-vimeo {
	background-position: -832px -1088px;
}
.quebx-icon-path {
	background-position: -896px -1088px;
}
.quebx-icon-twitter {
	background-position: -960px -1088px;
}
.quebx-icon-share {
	background-position: 0 -1152px;
}
.quebx-icon-evernote {
	background-position: -64px -1152px;
}
.quebx-icon-play2 {
	background-position: -128px -1152px;
}
.quebx-icon-fastforward {
	background-position: -192px -1152px;
}
.quebx-icon-rewind {
	background-position: -256px -1152px;
}
.quebx-icon-play3 {
	background-position: -320px -1152px;
}
.quebx-icon-stop2 {
	background-position: -384px -1152px;
}
.quebx-icon-pause2 {
	background-position: -448px -1152px;
}
.quebx-icon-voice {
	background-position: -512px -1152px;
}
.quebx-icon-equalizer3 {
	background-position: -576px -1152px;
}
.quebx-icon-ipod2 {
	background-position: -640px -1152px;
}
.quebx-icon-camera2 {
	background-position: -704px -1152px;
}
.quebx-icon-videocamera {
	background-position: -768px -1152px;
}
.quebx-icon-video3 {
	background-position: -832px -1152px;
}
.quebx-icon-headphones2 {
	background-position: -896px -1152px;
}
.quebx-icon-font {
	background-position: -960px -1152px;
}
.quebx-icon-crop {
	background-position: 0 -1216px;
}
.quebx-icon-insertpictureleft {
	background-position: -64px -1216px;
}
.quebx-icon-bold {
	background-position: -128px -1216px;
}
.quebx-icon-italic {
	background-position: -192px -1216px;
}
.quebx-icon-wizard2 {
	background-position: -256px -1216px;
}
.quebx-icon-creativecommons {
	background-position: -320px -1216px;
}
.quebx-icon-water {
	background-position: -384px -1216px;
}
.quebx-icon-maps {
	background-position: -448px -1216px;
}
.quebx-icon-calendar2 {
	background-position: -512px -1216px;
}
.quebx-icon-clock2 {
	background-position: -576px -1216px;
}
.quebx-icon-gasstation {
	background-position: -640px -1216px;
}
.quebx-icon-umbrella {
	background-position: -704px -1216px;
}
.quebx-icon-stopwatch {
	background-position: -768px -1216px;
}
.quebx-icon-gpsoff {
	background-position: -832px -1216px;
}
.quebx-icon-gpson {
	background-position: -896px -1216px;
}
.quebx-icon-checkin {
	background-position: -960px -1216px;
}
.quebx-icon-clock22 {
	background-position: 0 -1280px;
}
.quebx-icon-watertap {
	background-position: -64px -1280px;
}
.quebx-icon-airplane2 {
	background-position: -128px -1280px;
}
.quebx-icon-shipping {
	background-position: -192px -1280px;
}
.quebx-icon-piggybank {
	background-position: -256px -1280px;
}
.quebx-icon-dollar2 {
	background-position: -320px -1280px;
}
.quebx-icon-euro2 {
	background-position: -384px -1280px;
}
.quebx-icon-pound2 {
	background-position: -448px -1280px;
}
.quebx-icon-yen2 {
	background-position: -512px -1280px;
}
.quebx-icon-briefcase2 {
	background-position: -576px -1280px;
}
.quebx-icon-law {
	background-position: -640px -1280px;
}
.quebx-icon-paypal {
	background-position: -704px -1280px;
}
.quebx-icon-skrill {
	background-position: -768px -1280px;
}
.quebx-icon-alertpay {
	background-position: -832px -1280px;
}
.quebx-icon-westernunion {
	background-position: -896px -1280px;
}
.quebx-icon-moneybag {
	background-position: -960px -1280px;
}
.quebx-icon-cash {
	background-position: 0 -1344px;
}
.quebx-icon-flaskfull {
	background-position: -64px -1344px;
}
.quebx-icon-paperclip {
	background-position: -128px -1344px;
}
.quebx-icon-paperclip2 {
	background-position: -192px -1344px;
}
.quebx-icon-paperclip3 {
	background-position: -256px -1344px;
}
.quebx-icon-megaphone {
	background-position: -320px -1344px;
}
.quebx-icon-student {
	background-position: -384px -1344px;
}
.quebx-icon-fence {
	background-position: -448px -1344px;
}
.quebx-icon-lamp {
	background-position: -512px -1344px;
}
.quebx-icon-plaque {
	background-position: -576px -1344px;
}
.quebx-icon-controllerps {
	background-position: -640px -1344px;
}
.quebx-icon-trophy {
	background-position: -704px -1344px;
}
.quebx-icon-starempty {
	background-position: -768px -1344px;
}
.quebx-icon-starhalf {
	background-position: -832px -1344px;
}
.quebx-icon-starfull {
	background-position: -896px -1344px;
}
.quebx-icon-lifeempty {
	background-position: -960px -1344px;
}
.quebx-icon-lifehalf {
	background-position: 0 -1408px;
}
.quebx-icon-lifefull {
	background-position: -64px -1408px;
}
.quebx-icon-warmedal {
	background-position: -128px -1408px;
}
.quebx-icon-medal {
	background-position: -192px -1408px;
}
.quebx-icon-medalgold {
	background-position: -256px -1408px;
}
.quebx-icon-medalsilver {
	background-position: -320px -1408px;
}
.quebx-icon-medalbronze {
	background-position: -384px -1408px;
}
.quebx-icon-tennis {
	background-position: -448px -1408px;
}
.quebx-icon-americanfootball {
	background-position: -512px -1408px;
}
.quebx-icon-diamonds {
	background-position: -576px -1408px;
}
.quebx-icon-settings4 {
	background-position: -640px -1408px;
}
.quebx-icon-settings5 {
	background-position: -704px -1408px;
}
.quebx-icon-info {
	background-position: -768px -1408px;
}
.quebx-icon-zoomin {
	background-position: -832px -1408px;
}
.quebx-icon-zoomout {
	background-position: -896px -1408px;
}
.quebx-icon-quoteup {
	background-position: -960px -1408px;
}
.quebx-icon-quotedown {
	background-position: 0 -1472px;
}
.quebx-icon-undo {
	background-position: -64px -1472px;
}
.quebx-icon-redo {
	background-position: -128px -1472px;
}
.quebx-icon-lightbulb {
	background-position: -192px -1472px;
}
.quebx-icon-phone5 {
	background-position: -256px -1472px;
}
.quebx-icon-mobile3 {
	background-position: -320px -1472px;
}
.quebx-icon-directions {
	background-position: -384px -1472px;
}
.quebx-icon-mail {
	background-position: -448px -1472px;
}
.quebx-icon-pencil3 {
	background-position: -512px -1472px;
}
.quebx-icon-feather {
	background-position: -576px -1472px;
}
.quebx-icon-user3 {
	background-position: -640px -1472px;
}
.quebx-icon-target2 {
	background-position: -704px -1472px;
}
.quebx-icon-share2 {
	background-position: -768px -1472px;
}
.quebx-icon-heart {
	background-position: -832px -1472px;
}
.quebx-icon-heart2 {
	background-position: -896px -1472px;
}
.quebx-icon-star2 {
	background-position: -960px -1472px;
}
.quebx-icon-star3 {
	background-position: 0 -1536px;
}
.quebx-icon-thumbs-up {
	background-position: -64px -1536px;
}
.quebx-icon-thumbs-down {
	background-position: -128px -1536px;
}
.quebx-icon-comment3 {
	background-position: -192px -1536px;
}
.quebx-icon-quote {
	background-position: -256px -1536px;
}
.quebx-icon-search3 {
	background-position: -320px -1536px;
}
.quebx-icon-bell2 {
	background-position: -384px -1536px;
}
.quebx-icon-link3 {
	background-position: -448px -1536px;
}
.quebx-icon-tools {
	background-position: -512px -1536px;
}
.quebx-icon-tag {
	background-position: -576px -1536px;
}
.quebx-icon-new {
	background-position: -640px -1536px;
}
.quebx-icon-clock3 {
	background-position: -704px -1536px;
}
.quebx-icon-calendar3 {
	background-position: -768px -1536px;
}
.quebx-icon-briefcase {
	background-position: -832px -1536px;
}
.quebx-icon-brush {
	background-position: -896px -1536px;
	width: 33px;
}
.quebx-icon-cone {
	background-position: -960px -1536px;
}
.quebx-icon-screen {
	background-position: 0 -1600px;
}
.quebx-icon-database {
	background-position: -64px -1600px;
}
.quebx-icon-cart2 {
	background-position: -128px -1600px;
}
.quebx-icon-pie {
	background-position: -192px -1600px;
}
.quebx-icon-bars3 {
	background-position: -256px -1600px;
}
.quebx-icon-logout {
	background-position: -320px -1600px;
}
.quebx-icon-login {
	background-position: -384px -1600px;
}
.quebx-icon-checkmark4 {
	background-position: -448px -1600px;
}
.quebx-icon-cross {
	background-position: -512px -1600px;
}
.quebx-icon-minus3 {
	background-position: -576px -1600px;
}
.quebx-icon-plus3 {
	background-position: -640px -1600px;
}
.quebx-icon-cross2 {
	background-position: -704px -1600px;
}
.quebx-icon-erase {
	background-position: -768px -1600px;
}
.quebx-icon-info2 {
	background-position: -832px -1600px;
}
.quebx-icon-info3 {
	background-position: -896px -1600px;
}
.quebx-icon-question {
	background-position: -960px -1600px;
}
.quebx-icon-help {
	background-position: 0 -1664px;
}
.quebx-icon-warning {
	background-position: -64px -1664px;
}
.quebx-icon-shuffle {
	background-position: -128px -1664px;
}
.quebx-icon-switch2 {
	background-position: -192px -1664px;
}
.quebx-icon-video {
	background-position: -256px -1664px;
}
.quebx-icon-upload3 {
	background-position: -320px -1664px;
}
.quebx-icon-download3 {
	background-position: -384px -1664px;
}
.quebx-icon-bookmark {
	background-position: -448px -1664px;
}
.quebx-icon-bookmarks {
	background-position: -512px -1664px;
}
.quebx-icon-play4 {
	background-position: -576px -1664px;
}
.quebx-icon-pause3 {
	background-position: -640px -1664px;
}
.quebx-icon-record {
	background-position: -704px -1664px;
}
.quebx-icon-stop3 {
	background-position: -768px -1664px;
}
.quebx-icon-next2 {
	background-position: -832px -1664px;
}
.quebx-icon-previous2 {
	background-position: -896px -1664px;
}
.quebx-icon-first {
	background-position: -960px -1664px;
}
.quebx-icon-last {
	background-position: 0 -1728px;
}
.quebx-icon-arrow-right4 {
	background-position: -64px -1728px;
}
.quebx-icon-cc {
	background-position: -128px -1728px;
}
.quebx-icon-github {
	background-position: -192px -1728px;
}
.quebx-icon-github2 {
	background-position: -256px -1728px;
}
.quebx-icon-flickr {
	background-position: -320px -1728px;
}
.quebx-icon-flickr2 {
	background-position: -384px -1728px;
}
.quebx-icon-vimeo2 {
	background-position: -448px -1728px;
}
.quebx-icon-vimeo3 {
	background-position: -512px -1728px;
}
.quebx-icon-twitter2 {
	background-position: -576px -1728px;
}
.quebx-icon-twitter3 {
	background-position: -640px -1728px;
}
.quebx-icon-facebook2 {
	background-position: -704px -1728px;
}
.quebx-icon-facebook3 {
	background-position: -768px -1728px;
}
.quebx-icon-facebook4 {
	background-position: -832px -1728px;
}
.quebx-icon-googleplus2 {
	background-position: -896px -1728px;
}
.quebx-icon-googleplus3 {
	background-position: -960px -1728px;
}
.quebx-icon-pinterest {
	background-position: 0 -1792px;
	height: 26px;
}
.quebx-icon-pinterest2 {
	background-position: -64px -1792px;
}
.quebx-icon-tumblr {
	background-position: -128px -1792px;
}
.quebx-icon-tumblr2 {
	background-position: -192px -1792px;
}
.quebx-icon-linkedin2 {
	background-position: -256px -1792px;
}
.quebx-icon-linkedin3 {
	background-position: -320px -1792px;
}
.quebx-icon-dribbble2 {
	background-position: -384px -1792px;
}
.quebx-icon-dribbble3 {
	background-position: -448px -1792px;
}
.quebx-icon-lastfm2 {
	background-position: -512px -1792px;
}
.quebx-icon-lastfm3 {
	background-position: -576px -1792px;
}
.quebx-icon-instagram {
	background-position: -640px -1792px;
}
.quebx-icon-dropbox {
	background-position: -704px -1792px;
}
.quebx-icon-evernote2 {
	background-position: -768px -1792px;
}
.quebx-icon-skype2 {
	background-position: -832px -1792px;
}
.quebx-icon-skype3 {
	background-position: -896px -1792px;
}
.quebx-icon-renren {
	background-position: -960px -1792px;
}
.quebx-icon-paypal2 {
	background-position: 0 -1856px;
}
.quebx-icon-picasa {
	background-position: -64px -1856px;
}
.quebx-icon-soundcloud {
	background-position: -128px -1856px;
}
.quebx-icon-behance {
	background-position: -192px -1856px;
	width: 33px;
}
.quebx-icon-vk {
	background-position: -256px -1856px;
}
.quebx-icon-smashing {
	background-position: -320px -1856px;
}
.quebx-icon-time {
	background-position: -384px -1856px;
}
.quebx-icon-cogs {
	background-position: -448px -1856px;
	width: 34px;
}
.quebx-icon-github-sign {
	background-position: -512px -1856px;
}
.quebx-icon-phone6 {
	background-position: -576px -1856px;
}
.quebx-icon-cogs2 {
	background-position: -640px -1856px;
	height: 31px;
}
.quebx-icon-time2 {
	background-position: -704px -1856px;
}
.quebx-icon-checkmark5 {
	background-position: -768px -1856px;
}
.quebx-icon-basket {
	background-position: -832px -1856px;
}
.quebx-icon-phone7 {
	background-position: -896px -1856px;
}
.quebx-icon-chat {
	background-position: -960px -1856px;
}
.quebx-icon-comments {
	background-position: 0 -1920px;
	width: 34px;
}
.quebx-icon-download4 {
	background-position: -64px -1920px;
}
.quebx-icon-pen {
	background-position: -128px -1920px;
}
.quebx-icon-coins {
	background-position: -192px -1920px;
}
.quebx-icon-bookmark2 {
	background-position: -256px -1920px;
}
.quebx-icon-ticket {
	background-position: -320px -1920px;
	width: 40px;
}
.quebx-icon-ticket2 {
	background-position: -384px -1920px;
	width: 40px;
}
.quebx-icon-ticket3 {
	background-position: -448px -1920px;
	width: 39px;
}
.quebx-icon-pen2 {
	background-position: -512px -1920px;
}
.quebx-icon-cart3 {
	background-position: -576px -1920px;
}
.quebx-icon-clock4 {
	background-position: -640px -1920px;
}
.quebx-icon-clock5 {
	background-position: -704px -1920px;
}
.quebx-icon-bubble {
	background-position: -768px -1920px;
}
.quebx-icon-bubbles {
	background-position: -832px -1920px;
	width: 36px;
}
.quebx-icon-user4 {
	background-position: -896px -1920px;
}
.quebx-icon-remove {
	background-position: -960px -1920px;
}
.quebx-icon-eye-blocked {
	background-position: 0 -1984px;
}
.quebx-icon-eye2 {
	background-position: -64px -1984px;
}
.quebx-icon-bookmark3 {
	background-position: -128px -1984px;
}
.quebx-icon-bookmarks2 {
	background-position: -192px -1984px;
}
.quebx-icon-cancel-circle {
	background-position: -256px -1984px;
}
.quebx-icon-omega {
	background-position: -320px -1984px;
}
.quebx-icon-sigma {
	background-position: -384px -1984px;
}
.quebx-icon-mail2 {
	background-position: -448px -1984px;
}
.quebx-icon-mail3 {
	background-position: -512px -1984px;
}
.quebx-icon-google-plus {
	background-position: -576px -1984px;
}
.quebx-icon-google-plus2 {
	background-position: -640px -1984px;
}
.quebx-icon-google-plus3 {
	background-position: -704px -1984px;
}
.quebx-icon-facebook5 {
	background-position: -768px -1984px;
}
.quebx-icon-facebook6 {
	background-position: -832px -1984px;
}
.quebx-icon-facebook7 {
	background-position: -896px -1984px;
}
.quebx-icon-twitter4 {
	background-position: -960px -1984px;
}
.quebx-icon-twitter5 {
	background-position: 0 -2048px;
}
.quebx-icon-twitter6 {
	background-position: -64px -2048px;
}
.quebx-icon-feed {
	background-position: -128px -2048px;
}
.quebx-icon-feed2 {
	background-position: -192px -2048px;
}
.quebx-icon-feed3 {
	background-position: -256px -2048px;
}
.quebx-icon-youtube2 {
	background-position: -320px -2048px;
}
.quebx-icon-youtube3 {
	background-position: -384px -2048px;
}
.quebx-icon-vimeo4 {
	background-position: -448px -2048px;
	width: 34px;
	height: 34px;
}
.quebx-icon-vimeo22 {
	background-position: -512px -2048px;
}
.quebx-icon-vimeo5 {
	background-position: -576px -2048px;
}
.quebx-icon-flickr3 {
	background-position: -640px -2048px;
}
.quebx-icon-flickr4 {
	background-position: -704px -2048px;
}
.quebx-icon-flickr5 {
	background-position: -768px -2048px;
}
.quebx-icon-picassa {
	background-position: -832px -2048px;
}
.quebx-icon-picassa2 {
	background-position: -896px -2048px;
}
.quebx-icon-dribbble4 {
	background-position: -960px -2048px;
}
.quebx-icon-dribbble5 {
	background-position: 0 -2112px;
}
.quebx-icon-dribbble6 {
	background-position: -64px -2112px;
}
.quebx-icon-deviantart {
	background-position: -128px -2112px;
	width: 33px;
}
.quebx-icon-deviantart2 {
	background-position: -192px -2112px;
}
.quebx-icon-github3 {
	background-position: -256px -2112px;
}
.quebx-icon-github4 {
	background-position: -320px -2112px;
}
.quebx-icon-wordpress2 {
	background-position: -384px -2112px;
}
.quebx-icon-wordpress3 {
	background-position: -448px -2112px;
}
.quebx-icon-blogger2 {
	background-position: -512px -2112px;
}
.quebx-icon-blogger3 {
	background-position: -576px -2112px;
}
.quebx-icon-tumblr3 {
	background-position: -640px -2112px;
}
.quebx-icon-tumblr4 {
	background-position: -704px -2112px;
}
.quebx-icon-android {
	background-position: -768px -2112px;
}
.quebx-icon-windows {
	background-position: -832px -2112px;
}
.quebx-icon-skype4 {
	background-position: -896px -2112px;
}
.quebx-icon-linkedin4 {
	background-position: -960px -2112px;
}
.quebx-icon-lastfm4 {
	background-position: 0 -2176px;
}
.quebx-icon-lastfm5 {
	background-position: -64px -2176px;
}
.quebx-icon-stumbleupon {
	background-position: -128px -2176px;
}
.quebx-icon-stumbleupon2 {
	background-position: -192px -2176px;
}
.quebx-icon-pinterest3 {
	background-position: -256px -2176px;
}
.quebx-icon-pinterest4 {
	background-position: -320px -2176px;
}
.quebx-icon-paypal3 {
	background-position: -384px -2176px;
	width: 33px;
}
.quebx-icon-paypal4 {
	background-position: -448px -2176px;
	width: 33px;
}
.quebx-icon-file-xml {
	background-position: -512px -2176px;
}
.quebx-icon-html52 {
	background-position: -576px -2176px;
}
.quebx-icon-html53 {
	background-position: -640px -2176px;
}
.quebx-icon-css32 {
	background-position: -704px -2176px;
}
.quebx-icon-chrome2 {
	background-position: -768px -2176px;
}
.quebx-icon-firefox2 {
	background-position: -832px -2176px;
	width: 33px;
}
.quebx-icon-IE {
	background-position: -896px -2176px;
}
.quebx-icon-opera {
	background-position: -960px -2176px;
}
.quebx-icon-safari {
	background-position: 0 -2240px;
}
.quebx-icon-cart4 {
	background-position: -64px -2240px;
}
.quebx-icon-clock6 {
	background-position: -128px -2240px;
}
.quebx-icon-apple2 {
	background-position: -192px -2240px;
}
.quebx-icon-phone8 {
	background-position: -256px -2240px;
	width: 35px;
	height: 35px;
}
.quebx-icon-checkmark6 {
	background-position: -320px -2240px;
}
.quebx-icon-cancel2 {
	background-position: -384px -2240px;
}
.quebx-icon-arrow-left-alt1 {
	background-position: -448px -2240px;
}
.quebx-icon-arrow-right-alt1 {
	background-position: -512px -2240px;
}
.quebx-icon-arrow-up-alt1 {
	background-position: -576px -2240px;
}
.quebx-icon-arrow-down-alt1 {
	background-position: -640px -2240px;
}
.quebx-icon-clock7 {
	background-position: -704px -2240px;
}